<model>
    <name>Axia80_M20</name>
    <version>1.0</version>
    <sdf version='1.9'>model.sdf</sdf>

    <author>
        <name>Yadunund Vijay</name>
        <email>yadunund@intrinsic.ai</email>
    </author>

    <description>
        ATI AXIA80-M20 Force-Torque Sensor
    </description>
</model>