<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="nic_card_mount" params="prefix">
    <!-- NIC Card Mount Link -->
    <link name="${prefix}link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.1"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
      </inertial>

      <visual name="nic_card_mount_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://aic_assets/models/NIC Card Mount/nic_card_mount_visual.glb"/>
        </geometry>
      </visual>

      <collision name="v1015085006_collider_box">
        <origin xyz="0.007 -0.0255 0.0775" rpy="0.0 0.0 1.570796"/>
        <geometry>
          <box size="0.005 0.072 0.155"/>
        </geometry>
      </collision>

      <collision name="v1015085006_collider_box_001">
        <origin xyz="-0.048467 -0.0155 0.162" rpy="0.0 0.0 1.570796"/>
        <geometry>
          <box size="0.025 0.039374 0.014"/>
        </geometry>
      </collision>

      <collision name="v1015085006_collider_box_002">
        <origin xyz="0.0405 -0.01425 0.1055" rpy="0.0 0.0 1.570796"/>
        <geometry>
          <box size="0.0275 0.005 0.103"/>
        </geometry>
      </collision>

      <collision name="v1015085006_collider_box_003">
        <origin xyz="0.0 -0.0125 0.0055" rpy="0.0 0.0 1.570796"/>
        <geometry>
          <box size="0.031 0.058 0.011"/>
        </geometry>
      </collision>

      <collision name="v1015085006_collider_box004_collider_box">
        <origin xyz="-0.045132 -0.0255 0.137803" rpy="0.0 0.0 1.570796"/>
        <geometry>
          <box size="0.005 0.036343 0.034395"/>
        </geometry>
      </collision>
    </link>

    <!-- NIC Card Link -->
    <link name="${prefix}card_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.15"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
      </inertial>

      <visual name="nic_card_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://aic_assets/models/NIC Card Mount/nic_card_visual.glb"/>
        </geometry>
      </visual>

      <collision name="pcb_collider_box">
        <origin xyz="0.0 0.0 -0.0008" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.056 0.145 0.0016"/>
        </geometry>
      </collision>

      <collision name="pcb_collider_box_001">
        <origin xyz="0.0065 -0.0025 -0.0008" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.069 0.051 0.0016"/>
        </geometry>
      </collision>

      <collision name="pcb_collider_box_002">
        <origin xyz="0.004 -0.02475 -0.0008" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.064 0.0955 0.0016"/>
        </geometry>
      </collision>

      <collision name="cube001_collider_box">
        <origin xyz="0.025006 -0.00041 0.00575" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.004 0.14 0.0115"/>
        </geometry>
      </collision>

      <collision name="cube001_collider_box_001">
        <origin xyz="-0.0029 -0.0015 0.008" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.047 0.052 0.011"/>
        </geometry>
      </collision>

      <collision name="cube001_collider_box_002">
        <origin xyz="-0.0029 -0.0015 0.001228" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.043 0.048 0.003149"/>
        </geometry>
      </collision>

      <collision name="10099100-011lfc001_collider_box">
        <origin xyz="-0.017799 -0.052954 0.00548" rpy="3.128092 0.0 0.0"/>
        <geometry>
          <box size="0.001099 0.04872 0.011083"/>
        </geometry>
      </collision>

      <collision name="10099100-011lfc001_collider_box.001">
        <origin xyz="-0.002687 -0.052954 0.005461" rpy="3.128092 0.0 0.0"/>
        <geometry>
          <box size="0.001125 0.04872 0.011121"/>
        </geometry>
      </collision>
      <collision name="10099100-011lfc001_collider_box.002">
        <origin xyz="-0.010237 -0.052889 0.010234" rpy="3.128092 0.0 0.0"/>
        <geometry>
          <box size="0.016224 0.04872 0.000923"/>
        </geometry>
      </collision>
      <collision name="10099100-011lfc001_collider_box.003">
        <origin xyz="-0.010237 -0.053024 0.000296" rpy="3.128092 0.0 0.0"/>
        <geometry>
          <box size="0.016224 0.04872 0.001054"/>
        </geometry>
      </collision>
      <collision name="10099100-011lfc001_collider_box.004">
        <origin xyz="-0.010237 -0.028738 0.003845" rpy="3.128092 0.0 0.0"/>
        <geometry>
          <box size="0.016224 0.00025 0.013698"/>
        </geometry>
      </collision>
      <collision name="10099100-011lfc001_collider_box.005">
        <origin xyz="0.005401 -0.052954 0.00548" rpy="3.128092 0.0 0.0"/>
        <geometry>
          <box size="0.001099 0.04872 0.011083"/>
        </geometry>
      </collision>
      <collision name="10099100-011lfc001_collider_box.006">
        <origin xyz="0.020513 -0.052954 0.005461" rpy="3.128092 0.0 0.0"/>
        <geometry>
          <box size="0.001125 0.04872 0.011121"/>
        </geometry>
      </collision>
      <collision name="10099100-011lfc001_collider_box.007">
        <origin xyz="0.012963 -0.052889 0.010234" rpy="3.128092 0.0 0.0"/>
        <geometry>
          <box size="0.016224 0.04872 0.00092"/>
        </geometry>
      </collision>
      <collision name="10099100-011lfc001_collider_box.008">
        <origin xyz="0.012963 -0.053024 0.000296" rpy="3.128092 0.0 0.0"/>
        <geometry>
          <box size="0.016224 0.04872 0.001054"/>
        </geometry>
      </collision>
      <collision name="10099100-011lfc001_collider_box.009">
        <origin xyz="0.012963 -0.028738 0.003845" rpy="3.128092 0.0 0.0"/>
        <geometry>
          <box size="0.016224 0.00025 0.01369"/>
        </geometry>
      </collision>

      <collision name="plane001_collider_box">
        <origin xyz="-0.007649 -0.074646 -0.0007515" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.113402 0.000875 0.003449"/>
        </geometry>
      </collision>
      <collision name="plane001_collider_box.001">
        <origin xyz="-0.007649 -0.074646 0.01352" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.113402 0.000875 0.00501"/>
        </geometry>
      </collision>
      <collision name="plane001_collider_box.002">
        <origin xyz="0.038559 -0.074646 0.006455" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.036181 0.000875 0.01112"/>
        </geometry>
      </collision>
      <collision name="plane001_collider_box.003">
        <origin xyz="-0.041261 -0.074646 0.006455" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.046178 0.000875 0.011123"/>
        </geometry>
      </collision>
    </link>

    <!-- Joint connecting card to mount -->
    <joint name="${prefix}card_joint" type="fixed">
      <parent link="${prefix}link"/>
      <child link="${prefix}card_link"/>
      <origin xyz="0 -0.01785 0.0799" rpy="-1.57 0 0"/>
    </joint>

    <!-- SFP Port 0 Link -->
    <link name="${prefix}sfp_port_0_link"/>

    <joint name="${prefix}sfp_port_0_joint" type="fixed">
      <parent link="${prefix}card_link"/>
      <child link="${prefix}sfp_port_0_link"/>
      <origin xyz="0.01295 -0.031572 0.00501" rpy="4.69895 0 0"/>
    </joint>

    <!-- SFP Port 1 Link -->
    <link name="${prefix}sfp_port_1_link"/>

    <joint name="${prefix}sfp_port_1_joint" type="fixed">
      <parent link="${prefix}card_link"/>
      <child link="${prefix}sfp_port_1_link"/>
      <origin xyz="-0.01025 -0.031572 0.00501" rpy="4.69895 0 0"/>
    </joint>
  </xacro:macro>

</robot>
