<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="task_board">
  <!-- Include component macros -->
  <xacro:include filename="$(find aic_assets)/models/Task Board Base/task_board_base_macro.xacro"/>
  <xacro:include filename="$(find aic_assets)/models/LC Mount/lc_mount_macro.xacro"/>
  <xacro:include filename="$(find aic_assets)/models/SFP Mount/sfp_mount_macro.xacro"/>
  <xacro:include filename="$(find aic_assets)/models/SC Mount/sc_mount_macro.xacro"/>
  <xacro:include filename="$(find aic_assets)/models/SC Port/sc_port_macro.xacro"/>
  <xacro:include filename="$(find aic_assets)/models/NIC Card Mount/nic_card_mount_macro.xacro"/>

  <!-- Task Board Base pose arguments -->
  <xacro:arg name="x" default="-0.2"/>
  <xacro:arg name="y" default="0.2"/>
  <xacro:arg name="z" default="1.14"/>
  <xacro:arg name="roll" default="0.0"/>
  <xacro:arg name="pitch" default="0.0"/>
  <xacro:arg name="yaw" default="-3.141"/>

  <!-- LC Mount 01 (left slot) - Base Y: -0.10625, Valid delta Y: -0.09625 to 0.09625 (absolute range: -0.2025 to -0.010) -->
  <xacro:arg name="lc_mount_01_delta_x" default="0.0"/>
  <xacro:arg name="lc_mount_01_delta_y" default="0.0"/>
  <xacro:arg name="lc_mount_01_delta_z" default="0.0"/>

  <!-- SFP Mount 01 (left slot) - Base Y: -0.10625, Valid delta Y: -0.09625 to 0.09625 (absolute range: -0.2025 to -0.010) -->
  <xacro:arg name="sfp_mount_01_delta_x" default="0.0"/>
  <xacro:arg name="sfp_mount_01_delta_y" default="0.0"/>
  <xacro:arg name="sfp_mount_01_delta_z" default="0.0"/>

  <!-- SC Mount 01 (left slot) - Base Y: -0.10625, Valid delta Y: -0.09625 to 0.09625 (absolute range: -0.2025 to -0.010) -->
  <xacro:arg name="sc_mount_01_delta_x" default="0.0"/>
  <xacro:arg name="sc_mount_01_delta_y" default="0.0"/>
  <xacro:arg name="sc_mount_01_delta_z" default="0.0"/>

  <!-- LC Mount 02 (right slot) - Base Y: 0.10625, Valid delta Y: -0.09625 to 0.09625 (absolute range: 0.010 to 0.2025) -->
  <xacro:arg name="lc_mount_02_delta_x" default="0.0"/>
  <xacro:arg name="lc_mount_02_delta_y" default="0.0"/>
  <xacro:arg name="lc_mount_02_delta_z" default="0.0"/>

  <!-- SFP Mount 02 (right slot) - Base Y: 0.10625, Valid delta Y: -0.09625 to 0.09625 (absolute range: 0.010 to 0.2025) -->
  <xacro:arg name="sfp_mount_02_delta_x" default="0.0"/>
  <xacro:arg name="sfp_mount_02_delta_y" default="0.0"/>
  <xacro:arg name="sfp_mount_02_delta_z" default="0.0"/>

  <!-- SC Mount 02 (right slot) - Base Y: 0.10625, Valid delta Y: -0.09625 to 0.09625 (absolute range: 0.010 to 0.2025) -->
  <xacro:arg name="sc_mount_02_delta_x" default="0.0"/>
  <xacro:arg name="sc_mount_02_delta_y" default="0.0"/>
  <xacro:arg name="sc_mount_02_delta_z" default="0.0"/>

  <!-- SC Port 01 - Base X: -0.075, Valid delta X: -0.055 to 0.055 (absolute range: -0.130 to -0.020) -->
  <xacro:arg name="sc_port_01_delta_x" default="0.0"/>
  <xacro:arg name="sc_port_01_delta_y" default="0.0"/>
  <xacro:arg name="sc_port_01_delta_z" default="0.0"/>

  <!-- SC Port 02 - Base X: -0.075, Valid delta X: -0.055 to 0.055 (absolute range: -0.130 to -0.020) -->
  <xacro:arg name="sc_port_02_delta_x" default="0.0"/>
  <xacro:arg name="sc_port_02_delta_y" default="0.0"/>
  <xacro:arg name="sc_port_02_delta_z" default="0.0"/>

  <!-- NIC Card Mount 01 -->
  <xacro:arg name="nic_card_mount_01_delta_x" default="0.0"/>
  <xacro:arg name="nic_card_mount_01_delta_y" default="0.0"/>
  <xacro:arg name="nic_card_mount_01_delta_z" default="0.0"/>

  <!-- NIC Card Mount 02 -->
  <xacro:arg name="nic_card_mount_02_delta_x" default="0.0"/>
  <xacro:arg name="nic_card_mount_02_delta_y" default="0.0"/>
  <xacro:arg name="nic_card_mount_02_delta_z" default="0.0"/>

  <!-- NIC Card Mount 03 -->
  <xacro:arg name="nic_card_mount_03_delta_x" default="0.0"/>
  <xacro:arg name="nic_card_mount_03_delta_y" default="0.0"/>
  <xacro:arg name="nic_card_mount_03_delta_z" default="0.0"/>

  <!-- NIC Card Mount 04 -->
  <xacro:arg name="nic_card_mount_04_delta_x" default="0.0"/>
  <xacro:arg name="nic_card_mount_04_delta_y" default="0.0"/>
  <xacro:arg name="nic_card_mount_04_delta_z" default="0.0"/>

  <!-- NIC Card Mount 05 -->
  <xacro:arg name="nic_card_mount_05_delta_x" default="0.0"/>
  <xacro:arg name="nic_card_mount_05_delta_y" default="0.0"/>
  <xacro:arg name="nic_card_mount_05_delta_z" default="0.0"/>

  <!-- Calculate absolute positions relative to task board base -->
  <!-- Task Board Base is at (0.25, 0, 1.14) relative to world in original SDF -->
  <!-- Components are positioned relative to base -->

  <!-- Instantiate Task Board Base -->
  <xacro:task_board_base prefix="task_board_"/>  <!-- LC Mount 01 -->
  <xacro:lc_mount prefix="lc_mount_01_"/>
  <joint name="lc_mount_01_joint" type="fixed">
    <parent link="task_board_base_link"/>
    <child link="lc_mount_01_link"/>
    <origin xyz="${0.0215 + $(arg lc_mount_01_delta_x)} ${-0.10625 + $(arg lc_mount_01_delta_y)} ${0.01 + $(arg lc_mount_01_delta_z)}" rpy="0 0 0"/>
  </joint>

  <!-- SFP Mount 01 -->
  <xacro:sfp_mount prefix="sfp_mount_01_"/>
  <joint name="sfp_mount_01_joint" type="fixed">
    <parent link="task_board_base_link"/>
    <child link="sfp_mount_01_link"/>
    <origin xyz="${0.0535 + $(arg sfp_mount_01_delta_x)} ${-0.10625 + $(arg sfp_mount_01_delta_y)} ${0.01 + $(arg sfp_mount_01_delta_z)}" rpy="0 0 0"/>
  </joint>

  <!-- SC Mount 01 -->
  <xacro:sc_mount prefix="sc_mount_01_"/>
  <joint name="sc_mount_01_joint" type="fixed">
    <parent link="task_board_base_link"/>
    <child link="sc_mount_01_link"/>
    <origin xyz="${0.0985 + $(arg sc_mount_01_delta_x)} ${-0.10625 + $(arg sc_mount_01_delta_y)} ${0.01 + $(arg sc_mount_01_delta_z)}" rpy="0 0 0"/>
  </joint>

  <!-- LC Mount 02 -->
  <xacro:lc_mount prefix="lc_mount_02_"/>
  <joint name="lc_mount_02_joint" type="fixed">
    <parent link="task_board_base_link"/>
    <child link="lc_mount_02_link"/>
    <origin xyz="${0.0215 + $(arg lc_mount_02_delta_x)} ${0.10625 + $(arg lc_mount_02_delta_y)} ${0.01 + $(arg lc_mount_02_delta_z)}" rpy="0 0 0"/>
  </joint>

  <!-- SFP Mount 02 -->
  <xacro:sfp_mount prefix="sfp_mount_02_"/>
  <joint name="sfp_mount_02_joint" type="fixed">
    <parent link="task_board_base_link"/>
    <child link="sfp_mount_02_link"/>
    <origin xyz="${0.0535 + $(arg sfp_mount_02_delta_x)} ${0.10625 + $(arg sfp_mount_02_delta_y)} ${0.01 + $(arg sfp_mount_02_delta_z)}" rpy="0 0 0"/>
  </joint>

  <!-- SC Mount 02 -->
  <xacro:sc_mount prefix="sc_mount_02_"/>
  <joint name="sc_mount_02_joint" type="fixed">
    <parent link="task_board_base_link"/>
    <child link="sc_mount_02_link"/>
    <origin xyz="${0.0985 + $(arg sc_mount_02_delta_x)} ${0.10625 + $(arg sc_mount_02_delta_y)} ${0.01 + $(arg sc_mount_02_delta_z)}" rpy="0 0 0"/>
  </joint>

  <!-- SC Port 01 -->
  <xacro:sc_port prefix="sc_port_01_"/>
  <joint name="sc_port_01_joint" type="fixed">
    <parent link="task_board_base_link"/>
    <child link="sc_port_01_link"/>
    <origin xyz="${-0.075 + $(arg sc_port_01_delta_x)} ${0.0295 + $(arg sc_port_01_delta_y)} ${0.01 + $(arg sc_port_01_delta_z)}" rpy="1.57 0 1.57"/>
  </joint>

  <!-- SC Port 02 -->
  <xacro:sc_port prefix="sc_port_02_"/>
  <joint name="sc_port_02_joint" type="fixed">
    <parent link="task_board_base_link"/>
    <child link="sc_port_02_link"/>
    <origin xyz="${-0.075 + $(arg sc_port_02_delta_x)} ${0.0705 + $(arg sc_port_02_delta_y)} ${0.01 + $(arg sc_port_02_delta_z)}" rpy="1.57 0 1.57"/>
  </joint>

  <!-- NIC Card Mount 01 -->
  <xacro:nic_card_mount prefix="nic_card_mount_01_"/>
  <joint name="nic_card_mount_01_joint" type="fixed">
    <parent link="task_board_base_link"/>
    <child link="nic_card_mount_01_link"/>
    <origin xyz="${-0.081418 + $(arg nic_card_mount_01_delta_x)} ${-0.0145 + $(arg nic_card_mount_01_delta_y)} ${0.01 + $(arg nic_card_mount_01_delta_z)}" rpy="0 0 0"/>
  </joint>

  <!-- NIC Card Mount 02 -->
  <xacro:nic_card_mount prefix="nic_card_mount_02_"/>
  <joint name="nic_card_mount_02_joint" type="fixed">
    <parent link="task_board_base_link"/>
    <child link="nic_card_mount_02_link"/>
    <origin xyz="${-0.081418 + $(arg nic_card_mount_02_delta_x)} ${-0.0545 + $(arg nic_card_mount_02_delta_y)} ${0.01 + $(arg nic_card_mount_02_delta_z)}" rpy="0 0 0"/>
  </joint>

  <!-- NIC Card Mount 03 -->
  <xacro:nic_card_mount prefix="nic_card_mount_03_"/>
  <joint name="nic_card_mount_03_joint" type="fixed">
    <parent link="task_board_base_link"/>
    <child link="nic_card_mount_03_link"/>
    <origin xyz="${-0.081418 + $(arg nic_card_mount_03_delta_x)} ${-0.0945 + $(arg nic_card_mount_03_delta_y)} ${0.01 + $(arg nic_card_mount_03_delta_z)}" rpy="0 0 0"/>
  </joint>

  <!-- NIC Card Mount 04 -->
  <xacro:nic_card_mount prefix="nic_card_mount_04_"/>
  <joint name="nic_card_mount_04_joint" type="fixed">
    <parent link="task_board_base_link"/>
    <child link="nic_card_mount_04_link"/>
    <origin xyz="${-0.081418 + $(arg nic_card_mount_04_delta_x)} ${-0.1345 + $(arg nic_card_mount_04_delta_y)} ${0.01 + $(arg nic_card_mount_04_delta_z)}" rpy="0 0 0"/>
  </joint>

  <!-- NIC Card Mount 05 -->
  <xacro:nic_card_mount prefix="nic_card_mount_05_"/>
  <joint name="nic_card_mount_05_joint" type="fixed">
    <parent link="task_board_base_link"/>
    <child link="nic_card_mount_05_link"/>
    <origin xyz="${-0.081418 + $(arg nic_card_mount_05_delta_x)} ${-0.1745 + $(arg nic_card_mount_05_delta_y)} ${0.01 + $(arg nic_card_mount_05_delta_z)}" rpy="0 0 0"/>
  </joint>

</robot>
