<model>
    <name>Enclosure</name>
    <version>1.0</version>
    <sdf version='1.9'>model.sdf</sdf>

    <author>
        <name>Daniel Sturman, Cole Biesemeyer</name>
        <email>colebsmr@intrinsic.ai</email>
    </author>

    <description>
        Light controlled enclosure.
    </description>
</model>