<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="basler_camera" params="name tf_prefix cam_lens_offset use_sim_cam">

    <link name="${tf_prefix}basler_cam_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.1"/>
        <inertia ixx="0.00002083" ixy="0" ixz="0"
                 iyy="0.00002083" iyz="0"
                 izz="0.000015"/>
      </inertial>

      <visual name="basler_cam_visual">
        <origin xyz="0 0 -${cam_lens_offset}" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://aic_assets/models/Basler Camera/basler_cam_visual.glb"/>
        </geometry>
      </visual>

      <collision name="lens001_collider_cylinder">
        <origin xyz="-0.000005 0.000001 ${0.013336 - cam_lens_offset}" rpy="0.0 0.0 0.0"/>
        <geometry>
          <cylinder radius="0.016429" length="0.040108"/>
        </geometry>
      </collision>

      <collision name="basler_ace2_gige027_collider_box">
        <origin xyz="-0.000001 -0.000017 ${-0.031178 - cam_lens_offset}" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.028998 0.028965 0.04919"/>
        </geometry>
      </collision>

      <collision name="basler_ace2_gige011_collider_cylinder">
        <origin xyz="-0.005773 -0.0081 ${-0.058082 - cam_lens_offset}" rpy="0.0 0.0 0.0"/>
        <geometry>
          <cylinder radius="0.005145" length="0.008255"/>
        </geometry>
      </collision>
    </link>

    <link name="${tf_prefix}sensor_link">
      <!-- inertial property required for valid conversion to SDF,
        so we set a tiny mass and M.O.I. here -->
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.001"/>
        <inertia ixx="0.000001" ixy="0" ixz="0"
                 iyy="0.000001" iyz="0"
                 izz="0.000001"/>
      </inertial>
    </link>

    <joint name="${tf_prefix}attach_sensor" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${tf_prefix}basler_cam_link"/>
      <child link="${tf_prefix}sensor_link"/>
    </joint>

    <gazebo reference="${tf_prefix}attach_sensor">
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <xacro:if value="${use_sim_cam}">
      <gazebo reference="${tf_prefix}sensor_link">
        <sensor name="${name}" type="camera">
          <pose>0 0 0 1.57079632679 -1.57079632679 0</pose>
          <update_rate>10.0</update_rate>
          <topic>/${name}/image</topic>
          <always_on>true</always_on>
          <visualize>true</visualize>
          <frame_id>${tf_prefix}sensor_link</frame_id>
          <camera name="${name}">
            <camera_info_topic>/${name}/camera_info</camera_info_topic>
            <image>
              <width>2840</width>
              <height>2840</height>
              <format>R8G8B8</format>
            </image>
            <lens>
              <intrinsics>
                <fx>2920</fx>
                <fy>2920</fy>
                <cx>1420</cx>
                <cy>1420</cy>
              </intrinsics>
            </lens>
            <clip>
              <near>0.02</near>
              <far>300</far>
            </clip>
            <distortion>
              <k1>0</k1>
              <k2>0</k2>
              <k3>0</k3>
              <p1>0</p1>
              <p2>0</p2>
            </distortion>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.007</stddev>
            </noise>
          </camera>
        </sensor>
      </gazebo>
    </xacro:if>

  </xacro:macro>

</robot>
